body {
    background: #f5f8ff;
    font-family: "Tahoma", sans-serif;
    text-align: center;
}

.container {
    margin-top: 80px;
    padding: 40px;
    background: white;
    border: 1px solid #d8dfea;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.container.small {
    width: 300px;
}

h1 {
    font-size: 48px;
    color: #3b5998;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccd0d5;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #3b5998;
    color: white;
    border: none;
    cursor: pointer;
}

a {
    color: #3b5998;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
